DEBUG=True
SECRET_KEY='pa*&h6fo(c4b4b6n!1*-(h4i6q7lsr-0wnj6@2#t#y39pla^d4'
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
INTERNAL_IPS=127.0.0.1
SENTRY_DSN=https://c4004ccbe6e7403f91feda1b39a7e3e1@o413304.ingest.sentry.io/5298610

# Configurações do AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# Configuraciones de Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True