[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
model-mommy = "*"
sync = "*"

[packages]
Django = "*"
gunicorn = "*"
python-decouple = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
django-ordered-model = "*"
ipython = "*"
django-extensions = "*"
Collectfast = "*"
django-model-utils = "*"
Pillow = "*"
django-ckeditor = "*"
sync = "*"

[requires]
python_version = "3.8"
