{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Centro Reino da Mata|{{ object.title }}{% endblock title %}</title>
{% block body %}

<img src="{{ entrada.image.url }}" class="card-img" style="height: 200px" alt="Imagen del Post">
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">{{ object.title }}</h3>
        </div>
        <div class="col">
            <p>{{ entrada.content|safe }}</p>
        </div>
    </div>
</div>
{% endblock body %}