{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Python Pro|Home{% endblock title %}</title>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Curso de Python con Alexander Silvera
                </h2>
                <p>
                    Espere en breve más información sobre el curso
                    que será desarrollado por Alexander Silvera.
                </p>
                <a href="#" class="btn btn-primary btn-large">Informese más ...</a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Más detalles sobre el docente
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img class="img-thumbnail float-left mr-3" style="max-height=40px;"
                                     src="{% static 'image/paiAlex.jpg' %}"
                                     alt="Docente del Curso">
                                Alexander Silvera director y docentes en <a href="www.pythonpro.br">Python Pro</a>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque est facilis iusto vel! A beatae consequatur cumque dolores dolorum harum iusto laboriosam ratione repellendus velit? Aperiam expedita natus qui.</span>
                                <span>Ab at culpa cumque deleniti dolor eaque ex facere facilis fugit hic inventore ipsum iste iusto magni maxime natus nemo nesciunt, nobis obcaecati omnis recusandae reprehenderit sed sint soluta tempora?</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}